/*-- scss:defaults --*/

$body-bg: #fff !default;
$body-color: #004C97 !default;
$link-color: #FFB81C !default;
$font-family-sans-serif: arial, "open sans", "helvetica neue", helvetica, sans-serif !default;
$mermaid-font-family: arial;
/*-- scss:rules --*/

.title {
  font-size: 80px !important;
  color: #004C97 !important;
}

.quarto-title-author-name {
  font-size: 40px;
  color: #4FB81C !important;
}

.date {
  font-size: 50px;
  color: green !important;
}


.reveal .slide-logo {
  height: 100px !important;
  width: 90px !important;
  max-width: unset !important;
  max-height: unset !important;
}

.reveal .footer > * {
	/*--background-color: #006682;--*/
	color: #004C97;
}